:root {
  /* set color */
  --one-color: #ffcf71;
  --two-color: #7b542f;
  --three-color: #ff9d00;
  --four-color: #b6771d;
  --set-nav-menu-mobile: 0px;

  /* height hero */
  --hero-height: 0px;
}

* {
  box-sizing: border-box;
}

/* header */
/* backgorund header */
header {
  background-color: var(--one-color);
}

/* element header */
header .brand-shop .icon {
  color: var(--two-color);
}

header .brand-shop h3 {
  font-family: "jaro", sans-serif;
  color: var(--two-color);
}

header nav a {
  font-family: "poppins", sans-serif;
  color: var(--two-color);
  position: relative;
}

/* underline navigasi */
header nav a::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--two-color);
  position: absolute;
  left: 0;
  bottom: -2px;
  transform: scale(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

header nav a:hover::before {
  transform: scale(1);
}

/* nav-menu (mobile) */
.nav-menu-mobile {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--two-color);
  z-index: 15;
}

.nav-menu-mobile .close .icon-close {
  color: #fff;
}

/* ham pop up */
.ham-pop-up {
  position: fixed;
  right: 30px;
  bottom: -50px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--four-color);
  color: #fff;
  border-radius: 50%;
  z-index: 10;
  transition: bottom ease 0.3s;
}

.ham-pop-up.show {
  bottom: 30px;
}

/* hero */
.hero {
  min-height: calc(100vh - var(--hero-height));
  background-color: var(--three-color);
}

/* left */
/* element */
.hero .row .left h1 {
  font-family: "montserrat", sans-serif;
  color: var(--four-color);
  -webkit-text-stroke: 1px var(--two-color);
  text-shadow:
    0 2px 3px rgba(0, 0, 0, 0.6),
    0 -2px 3px rgba(255, 255, 255, 0.2);
}

.hero .row .left p {
  font-family: "poppins", sans-serif;
  color: var(--two-color);
  text-shadow: 0 2px 1px var(--four-color);
  transition-delay: 0.2s;
}

.hero .row .left .btn {
  background-color: var(--one-color);
  color: var(--two-color);
  border-color: var(--one-color) !important;
  transition-delay: 0.4s;
}

/* btn ketika dihover */
.hero .row .left .btn:hover {
  background-color: transparent;
  color: #fff;
  border-color: #fff !important;
}

/* right */
/* ukuran image */
.hero .row .right .image {
  width: 500px;
  height: 300px;
  background-color: yellow;
  transition-delay: 0.2s;
  box-shadow: 8px 12px 3px rgba(0, 0, 0, 0.2);
}

/* arrow */
/* position */
.arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* elements */
.hero .arrow a {
  color: var(--two-color);
  font-family: "poppins", sans-serif;
  transition-delay: 0.6s;
}

.hero .arrow a svg {
  animation: upAndDown 1.3s ease-in-out infinite;
  transition-delay: 0.8s;
}

/* tentang */
.tentang {
  background-color: var(--one-color);
}

/* element */
.tentang h2 {
  font-family: "montserrat", sans-serif;
}

.tentang p {
  font-family: "poppins", sans-serif;
  transition-delay: 0.2s;
}

/* star */
.tentang .images-and-stars .star .icon-star {
  stroke: var(--four-color);
  stroke-width: 1.5px;
  color: var(--one-color);
}

/* image */
.tentang .images-and-stars .image {
  width: 350px;
  height: 210px;
  border: 4px solid var(--four-color);
  position: absolute;
  box-shadow: 8px 12px 3px rgba(0, 0, 0, 0.2);
}

/* layout image */

/* img 1 */
.tentang .images-and-stars .img-1 {
  position: absolute;
  left: 30px;
  top: 30px;
  transform: rotate(-6.19deg);
  transition-delay: 0.6s;
}

/* img 2 */
.tentang .images-and-stars .img-2 {
  position: absolute;
  left: 250px;
  top: 135px;
  transition-delay: 0.8s;
}

/* img 3 */
.tentang .images-and-stars .img-3 {
  position: absolute;
  right: 350px;
  top: 45px;
  transform: rotate(7.25deg);
  transition-delay: 1.2s;
}

/* img 4 */
.tentang .images-and-stars .img-4 {
  position: absolute;
  right: 60px;
  top: 110px;
  transform: rotate(-9.19deg);
  transition-delay: 1.4s;
}

/* layout star */
/* star 1 */
.tentang .images-and-stars .star-1 {
  position: absolute;
  left: 10px;
  top: 210px;
  transform: rotate(-18.18deg);
  z-index: 2;
  transition-delay: 0.4s;
}

/* star 2 */
.tentang .images-and-stars .star-2 {
  position: absolute;
  left: 350px;
  top: 100px;
  transform: rotate(-13.13deg);
  z-index: 2;
  transition-delay: 1s;
}

/* star 3 */
.tentang .images-and-stars .star-3 {
  position: absolute;
  right: 370px;
  top: 235px;
  transform: rotate(15.38deg);
  z-index: 2;
  transition-delay: 1.6s;
}

/* star 4 */
.tentang .images-and-stars .star-4 {
  position: absolute;
  right: 50px;
  top: 50px;
  transform: rotate(-7.79deg);
  z-index: 2;
  transition-delay: 1.8s;
}

/* bg image height */
.tentang .images-and-stars .bg-image {
  width: 100%;
  height: 350px;
}

/* produk */
/* warna background */
.produk {
  background-color: var(--four-color);
}

/* judul */
.produk h2 {
  font-family: "montserrat", sans-serif;
  color: var(--one-color);
}

/* produk item */
.produk .produk-container .produk-item .col h3 {
  font-family: "montserrat", sans-serif;
  color: var(--one-color);
}

.produk .produk-container .produk-item .col p {
  font-family: "poppins", sans-serif;
  color: #fff;
}

/* ukuran image */
.produk .produk-container .produk-item .col .image {
  width: 450px;
  height: 250px;
  background-color: orange;
  box-shadow: 8px 12px 3px rgba(0, 0, 0, 0.2);
}

/* transtion delay */
/* produk 1 */
.produk .produk-container .produk-item:nth-child(1) .col h3 {
  transition-delay: 0.3s;
}
.produk .produk-container .produk-item:nth-child(1) .col p {
  transition-delay: 0.5s;
}
.produk .produk-container .produk-item:nth-child(1) .col .image {
  transition-delay: 0.3s;
}

/* produk 2 */
.produk .produk-container .produk-item:nth-child(1) .col h3 {
  transition-delay: 0.8s;
}
.produk .produk-container .produk-item:nth-child(1) .col p {
  transition-delay: 1s;
}
.produk .produk-container .produk-item:nth-child(1) .col .image {
  transition-delay: 0.8s;
}

/* produk 3 */
.produk .produk-container .produk-item:nth-child(1) .col h3 {
  transition-delay: 1.1s;
}
.produk .produk-container .produk-item:nth-child(1) .col p {
  transition-delay: 1.3s;
}
.produk .produk-container .produk-item:nth-child(1) .col .image {
  transition-delay: 1.1s;
}

/* produk 4 */
.produk .produk-container .produk-item:nth-child(1) .col h3 {
  transition-delay: 1.4s;
}
.produk .produk-container .produk-item:nth-child(1) .col p {
  transition-delay: 1.6s;
}
.produk .produk-container .produk-item:nth-child(1) .col .image {
  transition-delay: 1.4s;
}

/* order */
/* warna background */
.order {
  background-color: var(--one-color);
}

/* judul */
.order h2 {
  font-family: "montserrat", sans-serif;
  color: var(--two-color);
}

.order .list-order .list-order-item {
  width: 100%;
  height: 270px;
  box-sizing: border-box;
}

.order .list-order .list-order-item .item {
  width: 450px;
  height: 100%;
}

.order .list-order .list-order-item .item img {
  height: 195px;
}

.order .list-order .list-order-item .item .link-order {
  background-color: var(--two-color);
}

.order .list-order .list-order-item .item .link-order p,
.order .list-order .list-order-item .item .link-order svg {
  color: var(--one-color);
}

.order .list-order .list-order-item .item .nama-item {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--two-color);
  color: var(--one-color);
  transition: top 0.3s ease-in-out;
}

/* transition nama item ketika dihover */
.order .list-order .list-order-item .item:hover .nama-item {
  top: -50px;
}

/* cta */
/* warna background */
.cta {
  background-color: var(--three-color);
}

/* warna border nav menu dan border link*/
.cta .row .nav-menu,
.cta .row .nav-menu .link a {
  border-color: var(--two-color) !important;
}

/* warna judul */
.cta .row .nav-menu .brand-shop h3 {
  color: var(--two-color);
  font-family: "jaro", sans-serif;
}

/* warna icon coffe */
.cta .row .nav-menu .brand-shop svg {
  color: var(--two-color);
}

/* layout link */
.cta .row .nav-menu .link a {
  font-family: "poppins", sans-serif;
  color: var(--two-color);
  transition: color 0.3s ease;
}

/* ubah warna ketika a dihover */
.cta .row .nav-menu a:hover {
  color: var(--one-color);
}

/* kontak */
.cta .row .kontak h2 {
  font-family: "montserrat", sans-serif;
}

/* outline input */
.cta .row .kontak form .form-item input,
.cta .row .kontak form .form-item textarea {
  border-color: var(--two-color) !important;
}

/* outline input dan textarea (focus) */
.cta .row .kontak form .form-item input:focus,
.cta .row .kontak form .form-item textarea:focus {
  outline: none;
  transition: all 0.5s ease;
}

/* warna label */
.cta .row .kontak form .form-item label {
  color: var(--four-color);
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: larger;
  transition: all 0.3s ease;
}

/* label comment */
.cta .row .kontak form .form-item .comment {
  top: 25%;
}

.cta .row .kontak form .form-item #comment:focus + label {
  top: -10%;
  font-size: small;
}

/* label berubah menjadi kecil ketika focus */
.cta .row .kontak form .form-item input:focus + label {
  top: 0;
  font-size: small;
}

/* button */
.cta .row .kontak form button {
  background-color: var(--two-color);
  font-family: "poppins", sans-serif;
  color: var(--one-color);
}

/* footer */
/* warna background */
footer {
  background-color: var(--one-color);
}

footer p {
  font-family: "montserrat", sans-serif;
}

/* animation */
/* up and down */
@keyframes upAndDown {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

/* fade */
/*  fade up */
.fade-up {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}

/* fade left */
.fade-left {
  opacity: 0;
  transform: translateX(-30px);
  transition: all 0.6s ease;
}

.fade-left.show {
  opacity: 1;
  transform: translateX(0px);
}

/* fade right */
.fade-right {
  opacity: 0;
  transform: translateX(30px);
  transition: all 0.6s ease;
}

.fade-right.show {
  opacity: 1;
  transform: translateX(0px);
}

/* media query */
/* mobile */
@media (max-width: 576px) {
  /* beranda */
  .hero {
    min-height: auto !important;
  }

  .hero .row .right .image {
    width: 100%;
  }

  /* image */
  .tentang .images-and-stars .img-2 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  /* star 2 */
  .tentang .images-and-stars .star-2 {
    left: 0px;
    top: 0px;
  }

  /* order */
  /* transition nama item ketika dihover */
  .order .list-order .list-order-item .item:hover .nama-item {
    top: -40px;
  }
}
